/* Write your CSS here */
.btn {
  background-color: #382f5a;
  border-color: #c4c4c4;
  border-width: 1px;
  border-radius: 5px;
  color: #c4c4c4;
  font-size: 20px;
  padding: 5px;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
}
